# =========================
# ROS 2
# =========================
build/
install/
log/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Editors
# =========================
.vscode/
.idea/

# =========================
# Linux
# =========================
*.swp
*~

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini
